[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "colorfindr"]
	path = colorfindr
	url = https://github.com/zumbov2/colorfindr
[submodule "colorizer"]
	path = colorizer
	url = https://github.com/zumbov2/colorizer
[submodule "deeplr"]
	path = deeplr
	url = https://github.com/zumbov2/deeplr
[submodule "findR"]
	path = findR
	url = https://github.com/zumbov2/findr
[submodule "swissparl"]
	path = swissparl
	url = https://github.com/zumbov2/swissparl
